.header {
  padding: 90px 24px 89px;
}

.header-content {
  min-width: 1000px;
  display: grid;
  grid-template-columns: 1.6fr 325px 1fr;
  align-items: center;
  margin-left: 34px;
}

.menu {
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.header__links-list {
  display: flex;
  list-style-type: none;
  gap: 7px;
  text-align: center;
  list-style-position: inside;
}

.decoration-none {
  text-decoration: none;
}

.bull {
  width: 7px;
  height: 7px;
  border-radius: 5px;
  border: 1px solid #000;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 7px;
}

.header__links {
  text-decoration: none;
  border-bottom: 1px solid #000;
  margin-left: -7px;
}

.header__logo-image {
  width: 135px;
  height: 105px;
}

.menu-decoration {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.address {
  line-height: 26px;
}

.overlay {
  min-height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1;
}

.cover {
  width: 1100px;
  height: 744px;
  position: relative;
  padding: 161px 58px 45px 56px;
  padding: 161px 58px 45px 56px; 
  background: url(../images/cover.jpg) no-repeat center; 
  background-size: cover; 
} 

.card-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
  z-index: -1;
}

.cover__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 100px;
  min-width: 1015px;
  margin-bottom: 123px;
  letter-spacing: 29px;
  position: relative;
  z-index: 2;
}

.accent-span {
  display: block;
}

.letter-spacing {
  letter-spacing: 62px;
}

.text_center {
  text-align: center;
  padding-top: 7px;
  padding-right: 28px;
}

.letter-spacing-center {
  letter-spacing: 57px;
}

.text_right {
  text-align: right;
}

.letter-spacing_three {
  letter-spacing: 56px;
}

.cover__description {
  margin-left: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  color: #fff;
  font-style: normal;
  font-size: 22px;
  word-spacing: 18px;
  text-transform: uppercase;
  text-align: center;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  width: 252px;
  height: 52px;
  color: #fff;
  font-size: 22px;
  word-spacing: 18px;
  text-transform: uppercase;
  text-align: center;
}

.lots {
  padding: 177px 34px 177px;
  width: 1102px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 37px;
  margin-bottom: 26px;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  z-index: 0;
}

.card-link {
  text-decoration: none;
  position: relative;
}

.card {
  padding: 48px 35px 46px 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 554px;
}

.card__title {
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
}

.card_type_film {
  max-width: 329px;
  height: 100%;
  background: url(../images/card-lot-01.jpg) no-repeat center;
  background-size: cover;
  background-position: left center;
}

.card_type_book {
  max-width: 329px;
  height: 100%;
  background: url(../images/card-lot-02.jpg) no-repeat center;
  background-size: cover;
  background-position: left center;
}

.card_type_picture {
  max-width: 329px;
  height: 100%;
  background: url(../images/card-lot-03.jpg) no-repeat center;
  background-size: cover;
  background-position: left center;
}

.lots__look-more-link {
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 20px;
  text-decoration-line: underline;
  margin-top: 29px;
  margin-left: 40px;
  display: inline-block;
  text-decoration: none;
}

.about {
  padding: 0 79px 181px;
}

.about__mine {
  width: 1000px;
}

.about_mine-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about__logo {
  width: 237px;
  height: 237px;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 71px;
  margin-top: 3px;
}

.about_card_text {
  margin-left: 308px;
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 23px;
}

.about-text {
  font-size: 20px;
}

.footer {
  padding: 0 58px 101px;
  display: flex;
  justify-content: space-between;
}

.menu-wrap {
  max-width: 238px;
}

.footer__center {
  text-align: center;
}

.footer-none-decoration {
  list-style-type: none;
  line-height: 21px;
  font-size: 18px;
}

.none-decoration__style {
  text-decoration: none;
  list-style-type: circle;
}

.footer-border {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #000;
  line-height: 18px;
}

.footer-icon {
  display: flex;
  flex-direction: row;
  gap: 46px;
}

.footer__logo {
  height: 48px;
}
